body {

  background-color: #47a3da;
  text-transform: uppercase;
  color:white;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}
textarea {

    width:100%;
    height:150px;
    background-color: transparent;
    border: 3px solid white;
  
}

button {
  background-color: #10689a;
  border: none;
  color:white;
 float:center;
}

.form-control {
  border: 2px solid white;
  background-color: transparent;


}

select {

background-color: transparent;

}


